<ons-page class="center">

<ons-scroller class="center">

    <ons-navigator-toolbar></ons-navigator-toolbar>

    <h2>Choose Players</h2>

    <div ng-controller="NewController" ng-enter="add(text)" style="padme">
      {{ errorMsg }}
      <h3>Saved Players</h3>

      <div ng-repeat="player in players">
        <ons-row>
          <ons-col>{{ player }}</ons-col>
          <ons-col><label class="topcoat-switch">
            <input type="checkbox" class="topcoat-switch__input" checked>
            <div class="topcoat-switch__toggle"></div></label>
          </ons-col>
        </ons-row><br>
      </div>

      <ons-text-input 
        ng-model="text"
        ng-hide="hidden"
        placeholder="Enter New Player" 
        style="width:80%;">
      </ons-text-input>

      <br><br>
      <ons-button ng-click="ons.navigator.pushPage('page4.html', { title: 'Hole #1' })">
			   Start Round!
		  </ons-button>
    </div>
  </ons-scroller>
</ons-page>